<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,  initial-scale=1.0">

		<title>Struck Out Game</title>
		<link rel="stylesheet" type "text/css" href="../../static/css/struckout.css">
	</head>

	<body>
		<div id="title">Struck Out Game</div>
		
		<form method="POST">
			<div class="struckout">
				<div class="screen" id="screen-number">
					{{display_number}}
				</div>
				
				<div class="btn">
					<div class="row">
						<button class="num" value="1" name="btn_num" type="submit">1</button>
						<button class="num" value="2" name="btn_num" type="submit">2</button>
						<button class="num" value="3" name="btn_num" type="submit">3</button>
					</div>
					
					<div class="row">
						<button class="num" value="4" name="btn_num" type="submit">4</button>
						<button class="num" value="5" name="btn_num" type="submit">5</button>
						<button class="num" value="6" name="btn_num" type="submit">6</button>
					</div>
					
					<div class="row">
						<button class="num" value="7" name="btn_num" type="submit">7</button>
						<button class="num" value="8" name="btn_num" type="submit">8</button>
						<button class="num" value="9" name="btn_num" type="submit">9</button>
					</div>
					
					<div class="row">
						<button value="string" name="pitch" type="submit">Click here to pitch</button>
						<button value="string" name="result" type="submit">Result</button>
						<button value="string" name="reset" type="submit">Reset</button>
					</div>
				</div>
			</div>
			
			{% if msg %}
				<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{msg}}</h3>
			{% endif %}

			<!--ゲーム終了の後のゲーム再スタート表示-->
			{% if context == "リセット" %}
				<h3>ゲーム再スタート</h3>
				<h3>残り {{count}} 球</h3>
			<!--終了時の結果表示-->
			{% elif context == "結果" %}
				<!--全部投げきった時の表示-->
				{% if count < 0 %}
					<h3>ゲーム終了</h3>
					<h3>トータルポイント:{{num}}</h3>
					{% if num <= 4 %}
						<h3>また挑戦してポイントをあげよう！！</h3>
					{% elif num <= 8 %}
						<h3>惜しい!あともう少し！！</h3>
					{% else %}
						<h3>素晴らしい!!</h3>
					{% endif %}
				<!--最後まで投げずに終了のときの表示-->
				{% else %}
					<h3>途中結果</h3>
					<h3>現在のトータルポイント:{{num}}</h3>
				{% endif %}
			<!--終了時に投げようとしたときの表示-->
			{% elif count < 0 %}
				<h3>ゲーム終了</h3>
			{% else %}
				<!--ゲームスタートの表示-->
				{% if value == 65536 %}
					<h3>{{context}}</h3>	
				{% else %}
					<!--ちゃんと投げたとき、数字のボタンを間違って押していない-->
					{% if value != 10 %}
						<!--1~9の的に当たった時の表示、はずれていない(0)-->
						{% if value != 0 %}
							<!--初めて当たった時の表示-->
							{% if context != "既に空いています" %}
								<h3>{{value}}{{context}}</h3>	
							{% else %}
								<h3>{{value}} 番は {{context}}</h3>	
							{% endif %}
						{% else %}
							<h3>おしい！はずれました</h3>
						{% endif %}	
					{% else %}
						<h3>{{context}}</h3>
					{% endif %}
					<h3>残り {{count}} 球</h3>
				{% endif %}
			{% endif %}
			
			{% csrf_token %} 
		</form>
		
	</body>
</html>